<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.firebirdberlin.tinytimetracker"
      android:versionCode="50"
      android:versionName="1.7.22">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/MainTheme" >

        <activity android:name="TinyTimeTracker"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Settings"
                  android:parentActivityName="TinyTimeTracker" >
        </activity>
        <activity android:name="AddTrackerActivity"
            android:parentActivityName="TinyTimeTracker"
            android:windowSoftInputMode="stateHidden">

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="TinyTimeTracker" />
        </activity>

        <service
            android:enabled="true"
            android:exported="false"
            android:name=".WiFiService" />

        <service
            android:enabled="true"
            android:exported="false"
            android:name=".services.AddAccessPointService" />

        <receiver android:name=".AlarmReceiver" android:enabled="true">
        </receiver>

        <receiver android:name=".pebble.PebbleMessageReceiver"
            android:enabled="true"
            android:priority="1000">
            <intent-filter android:priority="1000">
                 <action android:name="com.getpebble.action.app.RECEIVE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".BootReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="com.firebirdberlin.tinytimetracker.receivers.LocationModeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.firebirdberlin.tinytimetracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />

        </provider>
    </application>
</manifest>
